In [45]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.3'

In [4]:
arr=[1,2,3]
pd.Series(arr)

0    1
1    2
2    3
dtype: int64

In [5]:
d={'a':1,'b':2,'c':3}
pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [47]:
dates = pd.date_range('today',periods=6) # 定义时间序列作为 index
num_arr = np.random.randn(6,4) # 传入 numpy 随机数组
columns = ['A','B','C','D'] # 将列表作为列名
df = pd.DataFrame(num_arr, index = dates, columns = columns)
df

                                   A         B         C         D
2021-05-26 21:35:34.429014 -0.265259 -0.488911 -1.541022 -1.347828
2021-05-27 21:35:34.429014  1.878502 -2.204730  0.724883  0.869844
2021-05-28 21:35:34.429014 -0.638568  0.407120  0.421392 -0.895353
2021-05-29 21:35:34.429014  0.164717 -0.193905  0.148871  0.506292
2021-05-30 21:35:34.429014 -0.356467  0.645457 -0.241124  0.871966
2021-05-31 21:35:34.429014 -1.594519 -0.507646 -0.192446 -0.351601

In [49]:
pd.read_csv('./test.csv')

   Unnamed: 0         A         B         C   D   E
0           1  0.452427  0.693494  0.796367 NaN NaN
1           2  0.174173  0.125679  0.732924 NaN NaN
2           3  0.100024  0.834541  0.197025 NaN NaN
3           4  0.545763  0.859902  0.314082 NaN NaN

In [51]:
import numpy as numpy


data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data,index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [56]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [58]:
df.loc[:,['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [62]:
df.loc[df.index[[3,4,8]],['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [66]:
df.loc[df.index[[3,4,8]],['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [63]:
df[df['age']>3]

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

In [67]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [69]:
df[(df['age']>2) & (df['age']<4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

In [70]:
df.loc['f','age']

2.0

In [71]:
df.loc['f','age'] =1.5

In [72]:
df.loc['f','age']

1.5

In [77]:
df['visits'].sum()

19

In [79]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [80]:
df['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

In [ ]:
时间上