In [1]:
import pandas as pd
import numpy as np

In [3]:
url="https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv"
iris = pd.read_csv(url)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.shape

(150, 5)

In [5]:
iris_idx = np.arange(iris.shape[0])
iris.shape[0]

150

In [7]:
num_training = int(np.floor(0.75*iris.shape[0]))
num_training

112

In [9]:
iris_train_idx = np.random.choice(iris_idx,size = num_training, replace = True)
iris_test_idx = np.delete(iris_idx,iris_train_idx)
iris_train = iris.iloc[iris_train_idx]
iris_test = iris.iloc[iris_test_idx]

In [10]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
iris_train.head()

     sepal_length  sepal_width  petal_length  petal_width     species
44            5.1          3.8           1.9          0.4      setosa
132           6.4          2.8           5.6          2.2   virginica
51            6.4          3.2           4.5          1.5  versicolor
139           6.9          3.1           5.4          2.1   virginica
66            5.6          3.0           4.5          1.5  versicolor

In [12]:
iris_test.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa

In [14]:
from sklearn.model_selection import train_test_split

X = iris.drop('species', axis=1)
y = iris['species']

X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=y, test_size=0.5,random_state=2)

X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 77 to 48
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  75 non-null     float64
 1   sepal_width   75 non-null     float64
 2   petal_length  75 non-null     float64
 3   petal_width   75 non-null     float64
dtypes: float64(4)
memory usage: 2.9 KB

In [15]:

a = np.random.RandomState(1)
print(type(a))

<class 'numpy.random.mtrand.RandomState'>

In [104]:
a.randint(1000)

15