In [1]:
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics as stats  # need this to take standard deviations
from random import choice  # choice will select an item from list at random

In [2]:
start_date = '2018-1-1'  # start day for lookback
end_date = '2020-1-1'  # end day for lookback

tickers = ['F', 'AAPL', 'GOOG']

def MR_get(tickers, start_date, end_date ):
    stock_data = data.DataReader(tickers, data_source='yahoo', start=start_date,
                                 end=end_date)['Adj Close']

    return stock_data
    
stock_data = MR_get(tickers,start_date,end_date)

In [3]:
stock_data.head()

Symbols             F       AAPL         GOOG
Date
2018-01-02  10.890413  41.442081  1065.000000
2018-01-03  10.976439  41.434864  1082.479980
2018-01-04  11.165686  41.627323  1086.400024
2018-01-05  11.354935  42.101261  1102.229980
2018-01-08  11.311922  41.944889  1106.939941

In [4]:
df_return = stock_data.pct_change()

In [5]:
df_return.dropna().head()

Symbols            F      AAPL      GOOG
Date
2018-01-03  0.007899 -0.000174  0.016413
2018-01-04  0.017241  0.004645  0.003621
2018-01-05  0.016949  0.011385  0.014571
2018-01-08 -0.003788 -0.003714  0.004273
2018-01-09 -0.005323 -0.000115 -0.000614

In [9]:
mu = df_return.mean()
sigma =  df_return.std()

In [13]:
weights = pd.Series(index=tickers, dtype=float)
weights[tickers] = 1/len(tickers)

In [14]:
weights

F       0.333333
AAPL    0.333333
GOOG    0.333333
dtype: float64