In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import yfinance as yf

In [2]:
# get the S&P 500
table=pd.read_html('https://en.wikipedia.org/wiki/list_of_S%26P_500_companies')
df = table[0]
df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [3]:
df['GICS Sector'].unique()

array(['Industrials', 'Health Care', 'Information Technology',
       'Communication Services', 'Consumer Discretionary', 'Utilities',
       'Financials', 'Materials', 'Real Estate', 'Consumer Staples',
       'Energy'], dtype=object)

In [4]:
sp500_companies = df['Symbol'].to_list()

In [5]:

ohlc = yf.download(sp500_companies,start='2010-01-01')
ohlc.head()

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

            Adj Close                                                       \
                    A       AAL        AAP      AAPL ABBV        ABC  ABMD
Date
2010-01-04  20.545469  4.496876  39.103363  6.583586  NaN  22.512976  8.74
2010-01-05  20.322289  5.005957  38.870968  6.594968  NaN  22.352354  8.53
2010-01-06  20.250088  4.798555  39.209885  6.490066  NaN  22.141001  8.40
2010-01-07  20.223829  4.939965  39.200214  6.478067  NaN  21.785934  8.40
2010-01-08  20.217272  4.845690  39.355148  6.521136  NaN  22.022644  8.23

                                             ...     Volume              \
                  ABT        ACN       ADBE  ...       XLNX         XOM
Date                                         ...
2010-01-04  20.074522  33.718582  37.090000  ...  2824700.0  27809100.0
2010-01-05  19.912334  33.926979  37.700001  ...  3469700.0  30174700.0
2010-01-06  20.022911  34.287651  37.619999  ...  6329200.0  35044700.0
2010-01-07  20.188793  34.255581  36.889999  ...  9252700.0  27192100.0
2010-01-08  20.292002  34.119335  36.689999  ...  5005800.0  24891800.0

                                                                      \
                 XRAY        XRX XYL        YUM        ZBH      ZBRA
Date
2010-01-04  1051400.0  5112890.0 NaN  2962274.0   782400.0  168800.0
2010-01-05   763400.0  3255844.0 NaN  3298757.0  1718100.0  168800.0
2010-01-06  1595100.0  2634375.0 NaN  4178981.0  1277300.0  385300.0
2010-01-07  1096100.0  4508536.0 NaN  2452472.0  1683500.0  183600.0
2010-01-08   803600.0  2460109.0 NaN  3772392.0  2149500.0  266500.0


                  ZION ZTS
Date
2010-01-04   3974600.0 NaN
2010-01-05   5605500.0 NaN
2010-01-06  12615200.0 NaN
2010-01-07  24716800.0 NaN
2010-01-08   6903000.0 NaN

[5 rows x 3030 columns]

In [6]:
ohlc[['Adj Close']].to_csv("./sp500_adj_close.csv")

In [13]:
ohlc[['Volume']].to_csv("./sp500_volume.csv")

In [8]:
ohlc_sp500 = yf.download('^GSPC',start='2010-01-01')
ohlc_sp500.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000

In [14]:
data_sp = ohlc_sp500[['Adj Close']].reset_index()
data_sp.columns = ['datatime','^GSPC']
data_sp

       datatime        ^GSPC
0    2010-01-04  1132.989990
1    2010-01-05  1136.520020
2    2010-01-06  1137.140015
3    2010-01-07  1141.689941
4    2010-01-08  1144.979980
...         ...          ...
2788 2021-02-01  3773.860107
2789 2021-02-02  3826.310059
2790 2021-02-03  3830.169922
2791 2021-02-04  3871.739990
2792 2021-02-05  3886.830078

[2793 rows x 2 columns]

In [10]:
data_sp.to_csv('./sp500_^SPGC_adj_close.csv')

In [11]:
data_sp_volume = ohlc_sp500[['Volume']].reset_index()
data_sp_volume.columns = ['datatime','volume']
data_sp_volume

       datatime      volume
0    2010-01-04  3991400000
1    2010-01-05  2491020000
2    2010-01-06  4972660000
3    2010-01-07  5270680000
4    2010-01-08  4389590000
...         ...         ...
2788 2021-02-01  5392870000
2789 2021-02-02  5495370000
2790 2021-02-03  4846900000
2791 2021-02-04  4856670000
2792 2021-02-05  4838580000

[2793 rows x 2 columns]

In [12]:
data_sp_volume.to_csv('./sp500_^SPGC_volume.csv')