In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./sp500_adj_close.csv',header=0, skiprows=1)
data = data[1:]
data.columns = ['datetime'] + data.columns[1:].to_list()
data['datetime'] = pd.to_datetime(data['datetime'])
data = data.set_index('datetime')
# special
data.drop(pd.to_datetime('2017-09-04'),inplace=True)
# data.loc['2018-01-01':]
data.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
datetime,,,,,,,,,,,,,,,,,,,,,
2010-01-04,20.545469,4.496876,39.103363,6.583586,NaN,22.512976,8.74,20.074522,33.718582,37.090000,...,19.830650,46.349365,32.941868,14.571863,NaN,20.328438,55.501415,28.670000,11.726357,NaN
2010-01-05,20.322289,5.005957,38.870968,6.594968,NaN,22.352354,8.53,19.912334,33.926979,37.700001,...,19.580618,46.530319,32.550251,14.588748,NaN,20.258917,57.258369,28.620001,12.139812,NaN
2010-01-06,20.250088,4.798555,39.209885,6.490066,NaN,22.141001,8.40,20.022911,34.287651,37.619999,...,19.447794,46.932491,32.764709,14.453672,NaN,20.114088,57.239891,28.400000,13.195447,NaN
2010-01-07,20.223829,4.939965,39.200214,6.478067,NaN,21.785934,8.40,20.188793,34.255581,36.889999,...,19.252451,46.785034,33.193615,14.521203,NaN,20.108294,58.552982,27.690001,14.673337,NaN
2010-01-08,20.217272,4.845690,39.355148,6.521136,NaN,22.022644,8.23,20.292002,34.119335,36.689999,...,19.533739,46.597363,33.193615,14.470551,NaN,20.114088,57.323116,27.600000,14.435819,NaN

In [3]:
benchmark_data = pd.read_csv('./sp500_^SPGC_adj_close.csv',index_col=1)
benchmark_data = benchmark_data[['^GSPC']].reset_index('datatime').set_index('datatime').copy()
benchmark_data.index = pd.DatetimeIndex(benchmark_data.index)
benchmark_data

                  ^GSPC
datatime
2010-01-04  1132.989990
2010-01-05  1136.520020
2010-01-06  1137.140015
2010-01-07  1141.689941
2010-01-08  1144.979980
...                 ...
2021-02-01  3773.860107
2021-02-02  3826.310059
2021-02-03  3830.169922
2021-02-04  3871.739990
2021-02-05  3886.830078

[2793 rows x 1 columns]

In [4]:
data['A']['2011-02-01']

27.6018180847168