In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data = pd.read_csv('./sp500_adj_close.csv',header=0, skiprows=1)
data = data[1:]
data.columns = ['datetime'] + data.columns[1:].to_list()
data['datetime'] = pd.to_datetime(data['datetime'])
data = data.set_index('datetime')
# special
data.drop(pd.to_datetime('2017-09-04'),inplace=True)
# data.loc['2018-01-01':]
data.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
datetime,,,,,,,,,,,,,,,,,,,,,
2010-01-04,20.545469,4.496876,39.103363,6.583586,NaN,22.512976,8.74,20.074522,33.718582,37.090000,...,19.830650,46.349365,32.941868,14.571863,NaN,20.328438,55.501415,28.670000,11.726357,NaN
2010-01-05,20.322289,5.005957,38.870968,6.594968,NaN,22.352354,8.53,19.912334,33.926979,37.700001,...,19.580618,46.530319,32.550251,14.588748,NaN,20.258917,57.258369,28.620001,12.139812,NaN
2010-01-06,20.250088,4.798555,39.209885,6.490066,NaN,22.141001,8.40,20.022911,34.287651,37.619999,...,19.447794,46.932491,32.764709,14.453672,NaN,20.114088,57.239891,28.400000,13.195447,NaN
2010-01-07,20.223829,4.939965,39.200214,6.478067,NaN,21.785934,8.40,20.188793,34.255581,36.889999,...,19.252451,46.785034,33.193615,14.521203,NaN,20.108294,58.552982,27.690001,14.673337,NaN
2010-01-08,20.217272,4.845690,39.355148,6.521136,NaN,22.022644,8.23,20.292002,34.119335,36.689999,...,19.533739,46.597363,33.193615,14.470551,NaN,20.114088,57.323116,27.600000,14.435819,NaN

In [16]:
data[:'2021-01-31'].tail()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-25,125.480003,15.430000,159.660004,142.706757,110.500000,106.870003,348.320007,114.720001,252.039993,473.440002,...,145.139999,46.900002,57.009998,20.750000,101.000000,105.260002,159.309998,402.630005,47.209999,161.339996
2021-01-26,123.919998,15.530000,157.630005,142.946396,108.800003,108.839996,340.890015,114.730003,252.990005,476.279999,...,144.389999,45.869999,57.160000,21.070000,99.230003,106.339996,158.220001,395.160004,46.049999,159.710007
2021-01-27,118.800003,16.559999,147.929993,141.848038,102.790001,106.839996,328.600006,114.290001,246.100006,460.000000,...,133.860001,45.349998,55.369999,20.870001,97.949997,102.019997,152.600006,391.359985,43.810001,153.149994
2021-01-28,121.559998,18.100000,153.339996,136.885452,104.209999,106.900002,355.130005,120.389999,249.339996,465.670013,...,133.570007,46.060001,55.340000,21.219999,99.089996,102.529999,157.029999,393.029999,45.169998,156.529999
2021-01-29,120.169998,17.170000,149.139999,131.763107,102.480003,104.199997,348.250000,123.589996,241.919998,458.769989,...,130.570007,44.840000,53.490002,21.030001,96.589996,101.489998,153.669998,387.829987,44.139999,154.250000

In [17]:
transactions_min_v_monthly = pd.read_csv('./dataset_transactions_min_v_monthly.csv',index_col=[0,1])
transactions_max_sr_monthly = pd.read_csv('./dataset_transactions_max_sr_monthly.csv',index_col=[0,1])
transactions_min_v_yearly = pd.read_csv('./dataset_transactions_min_v_yearly.csv',index_col=[0,1])
transactions_max_sr_yearly = pd.read_csv('./dataset_transactions_max_r_yearly.csv',index_col=[0,1])

In [18]:
transactions_min_v_monthly

                          price  quantity
Date       Security
2011-02-01 ABC        31.034409     170.0
           AWK        20.310934     488.0
           AZO       255.000000     523.0
           CHTR       41.639999    4607.0
           COO        57.254578     457.0
...                         ...       ...
2021-02-01 TGT       183.570007     806.0
           TWTR       52.660000     146.0
           VRSK      185.940002    -258.0
           WLTW      207.449997     784.0
           WMT       139.270004   -3484.0

[3215 rows x 2 columns]

In [19]:
def get_summ(transactions, data):
    stocks_lst = []
    for i in transactions.index:
        stocks_lst.append(i[1])
    stocks_lst = list(set(stocks_lst))
    lst = []
    for name in stocks_lst:
        stock = transactions.loc[(slice(None),name),:]
        stocks_held = stock['quantity'].sum()
        profit = stocks_held*data[name][-1] -(stock['price']*stock['quantity']).sum()
        nums_trade = stock.shape[0]
        lst.append([stocks_held, profit, nums_trade])

    df_summary = pd.DataFrame(data = np.array(lst), index= stocks_lst, columns=['hold', 'profit', 'nums of trade'])
    return df_summary

In [20]:
summ_trans_min_v_monthly = get_summ(transactions_min_v_monthly,data)
summ_trans_max_sr_monthly = get_summ(transactions_max_sr_monthly,data)
summ_trans_min_v_yearly = get_summ(transactions_min_v_yearly,data)
summ_trans_max_sr_yearly = get_summ(transactions_max_sr_yearly,data)

In [21]:
summ_trans_min_v_monthly.to_csv('./summ_trans_min_v_monthly.csv')
summ_trans_max_sr_monthly.to_csv('./summ_trans_max_sr_monthly.csv')
summ_trans_min_v_yearly.to_csv('./summ_trans_min_v_yearly.csv')
summ_trans_max_sr_yearly.to_csv('./summ_trans_max_sr_yearly.csv')

In [22]:
summ_trans_min_v_monthly

       hold        profit  nums of trade
KMB     0.0 -10506.498196           29.0
HAS   199.0   1445.908829           17.0
WRB     0.0  23513.206810           18.0
CME     0.0  -9063.861450            4.0
UPS     0.0  -5059.649773            3.0
...     ...           ...            ...
MLM     0.0   -293.724304            2.0
CNP     0.0   3770.439257            3.0
KO      0.0 -54562.323345           13.0
GWW     0.0   9479.206329            5.0
AMZN    0.0    450.149048            4.0

[185 rows x 3 columns]

In [36]:
summ_trans_min_v_monthly.sort_values('nums of trade', ascending=False)[:1]

     hold         profit  nums of trade
AZO   0.0  158975.778229           71.0

In [25]:
stock = transactions_max_sr_monthly.loc[(slice(None),'AMZN'),:]
stock

                           price  quantity
Date       Security
2021-02-01 AMZN      3342.879883      18.0

In [26]:
stocks_held = stock['quantity'].sum()
stocks_held

18.0

In [27]:
stock['price'][-1]

3342.8798828125

In [28]:
stocks_held*stock['price'][-1]

60171.837890625

In [29]:
-(stock['price']*stock['quantity']).sum()

-60171.837890625

In [30]:
profit = stocks_held*data['AMZN'][-1] -(stock['price']*stock['quantity']).sum()
profit

166.8603515625

3304.46728515625